# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
requests==2.22.0
requests-file==1.5.1
requests-unixsocket==0.2.0
unidecode